import { Component } from '@angular/core';

@Component({
  moduleId: module.id,
  selector: '{{componentName}}',
  templateUrl: '{{componentName}}.component.html',
  styleUrls: ['{{componentName}}.component.css']
})
export class {{className}} {

  constructor() { }

}