import { Component } from '@angular/core';

@Component({
    moduleID: module.id,
    selector: '{{componentName}}',
    templateUrl: '{{componentName}}.component.html',
    stylesUrls: ['{{componentName}}.css']
})
export class {{className}}Component {

    constructor() { }

}